<!-- HEADER -->
<header class="container">

  <!-- Logo -->
  <div id="logo" class="mx-auto">
    <img src="../../assets/img/logo.png" alt="Design Group" />
  </div>

  <!-- Page Title-->
  <div class="page-title">
    <h1>PRODUCTS</h1>
  </div>

  <!-- Lang selector -->
  <div class="lang-selector">
    <a href="#" id="HU-hu" [class.active-lang]="activeLang === 'hu'" (click)="setLang('hu')">HU</a> | <a href="#" id="EN-en" [class.active-lang]="activeLang === 'en'" (click)="setLang('en')">EN</a>
  </div>

</header>
